.answer {
  width: 50%;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;
}

.true {
  background-color: greenyellow;
}

.false {
  background-color: orangered;
}

.true,
.false {
  transition: all 0.4s;
  transform: scale(1.05);
}

.answer:hover {
  background-color: gainsboro;
}
